<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swing</title>
    <style>
        table {
            font-family: Arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h2>Swing Trade</h2>
<table>
    <thead>
        <tr>
            <th>Entry</th>
            <th>Exit</th>
            <th>Quantity</th>
            <th>Target</th>
            <th>Total Amount</th>
            <th>Risk</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {% for trade in trades %}
            <tr>
                <td>{{ trade.entry_price }}</td>
                <td>{{ trade.exit_price }}</td>
                <td>{{ trade.quant }}</td>
                <td>{{ trade.target_price }}</td>
                <td>{{ trade.total_amount }}</td>
                <td>{{ trade.risk }}</td>
                <td>{{ trade.stock_name }}</td>
                <td>{{ trade.date_time }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<h1>Swing trade resut</h1>
<p>The CSV file has been generated: <strong>{{ output_file_new }}.csv</strong></p>
<a href="/download_swing_csv">Download CSV</a>



</body>
</html>

